API_BASE_URL=http://app:8000

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_DB_PORT=5432
POSTGRES_DB=postgres

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=telegram_token
BOT_MODE=polling